version: "3.8"

services:
  vpn:
    container_name: vpn
    build: .
    cap_add:
      - NET_ADMIN
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped
    networks:
      - vpn-net
    volumes:
      - .:/vpn-config

networks:
  vpn-net:
    external: true
